<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="4ef50fb4-af98-46d3-b447-73eb9b37023c"
            Publisher="CN=dngoins"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="4ef50fb4-af98-46d3-b447-73eb9b37023c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>UsingDX3M</DisplayName>
    <PublisherDisplayName>dngoins</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Holographic" MinVersion="10.0.10586.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="UsingDX3M.AppView">
        <uap:VisualElements
             DisplayName="UsingDX3M"
             Square150x150Logo="Assets\Square150x150Logo.png" 
             Square44x44Logo="Assets\Square44x44Logo.png" 
             Description="UsingDX3M"
             BackgroundColor="#464646">
          <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
          <uap:SplashScreen Image="Assets\SplashScreen.png" />
        </uap:VisualElements>
      </Application>
  </Applications>
</Package>